{% extends "layout.html" %}

{% load static %}

{% block title %} Про нас {% endblock %}

{% block page_style %} <link rel="stylesheet" href="{% static 'css/about.css' %}" media="screen"> {% endblock %}

{% block body_data %} class="u-body u-xl-mode" data-lang="ua" {% endblock %}

{% block main %}
<!-- Section 1 starts -->	  
<section class="u-clearfix u-palette-1-base u-section-1" id="sec-d94c">
  <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
	<h1 class="u-text u-text-body-alt-color u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">Про нас</h1><span class="u-icon u-icon-circle u-text-white u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="1000"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 409.294 409.294" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2920"></use></svg><svg class="u-svg-content" viewBox="0 0 409.294 409.294" id="svg-2920"><path d="m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z"></path><path d="m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z"></path></svg></span>
	<h6 class="u-custom-font u-text u-text-font u-text-palette-3-base u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000"> Ми прагнемо забезпечити наших клієнтів високоякісними, затишними та функціональними просторами, що відповідають їхнім потребам та бажанням. Ваша задоволеність - наш головний пріоритет.</h6>
	<p class="u-align-justify u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000"> Наша компанія є високопрофесійною будівельною компанією з багаторічним досвідом у сфері будівництва та проектування. Ми спеціалізуємося на реалізації різноманітних проектів, від житлових будинків та комерційних приміщень до великих інфраструктурних об'єктів. Наша компанія відома своєю високою якістю виконання, та завжди дотримується найвищих стандартів безпеки та стандартів якості в будівництві.</p>
  </div>
</section>
<!-- Section 1 ends -->

<!-- Section 2 starts -->
<section class="u-clearfix u-section-2" id="sec-56b9">
  <div class="u-clearfix u-sheet u-sheet-1">
	<div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
	  <div class="u-layout">
		<div class="u-layout-row">
		  <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
			<div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-1">
			  <h2 class="u-custom-font u-text u-text-font u-text-palette-1-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">Місія та цілі</h2>
			  <p class="u-align-justify u-custom-font u-font-montserrat u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000">
				<br>
				<span style="font-weight: 700;">Ремонт та Реконструкція</span>: Ми допомагаємо вам оновити та удосконалити існуючі приміщення, надаючи їм новий вигляд та функціональність.<br>
				<br>
				<span style="font-weight: 700;">Енергоефективність та Зелені Технології</span>: Ми спеціалізуємося у використанні передових технологій для підвищення енергоефективності та стійкості будівель.
			  </p>
			</div>
		  </div>
		  <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
			<div class="u-container-layout u-valign-top u-container-layout-2">
			  <p class="u-align-justify u-custom-font u-font-montserrat u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000">
				<span style="font-weight: 700;">Проектування та Будівництво</span>: Від концепції до здачі в експлуатацію, ми надаємо повний цикл послуг у сфері будівництва. Наші експерти керують усіма етапами проекту, забезпечуючи його вчасне та якісне виконання.
			  </p>
			  <img class="u-image u-image-default u-image-1" src="{% static 'img/about1.jpg' %}" alt="" data-image-width="5184" data-image-height="3888" data-animation-name="customAnimationIn" data-animation-duration="1000">
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</section>
<!-- Section 2 ends -->

<!-- Section 3 starts -->
<section class="u-clearfix u-section-3" id="sec-95c1">
  <div class="u-clearfix u-sheet u-sheet-1">
	<div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
	  <div class="u-layout">
		<div class="u-layout-row">
		  <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
			<div class="u-container-layout u-valign-top u-container-layout-1">
			  <h6 class="u-align-justify u-custom-font u-text u-text-font u-text-palette-1-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">Місія</h6>
			  <p class="u-align-justify u-custom-font u-font-montserrat u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000">
				<span style="font-weight: 700;"> Наша місія</span> - створювати надійні та інноваційні будівельні рішення, що відповідають вимогам та потребам наших клієнтів. Ми прагнемо до сталого розвитку та вдосконалення усіх аспектів нашої діяльності, щоб надавати найкращі послуги у галузі будівництва.
			  </p>
			  <img class="u-image u-image-default u-image-1" src="{% static 'img/about3.jpg' %}" alt="" data-image-width="6000" data-image-height="4000" data-animation-name="customAnimationIn" data-animation-duration="1000">
			</div>
		  </div>
		  <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
			<div class="u-container-layout u-valign-bottom u-container-layout-2">
			  <img class="u-image u-image-default u-image-2" src="{% static 'img/about2.jpg' %}" alt="" data-image-width="5184" data-image-height="3888" data-animation-name="customAnimationIn" data-animation-duration="1000">
			  <h6 class="u-align-left u-custom-font u-text u-text-font u-text-palette-1-base u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000">Цілі</h6>
			  <p class="u-align-justify u-custom-font u-font-montserrat u-text u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1000">
				<span style="font-weight: 700;">Надійність та Якість</span>: Наша першочергова мета - забезпечити надійні та високоякісні будівельні рішення для наших клієнтів. Ми ретельно обираємо матеріали та застосовуємо передові технології для гарантування тривалості та безпеки кожного проекту.<br>
				<br>
				<span style="font-weight: 700;">Стале Вдосконалення</span>: Ми прагнемо постійно удосконалювати наші процеси та методи, впроваджуючи передові технології та навчаючи нашу команду новим навичкам. Це дозволяє нам бути в критичних моментах та втілювати найкращі рішення для кожного проекту.
			  </p>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</section>
<!-- Section 3 ends -->
{% endblock %}
