{% extends "layout.html" %}

{% load static %}

{% block title %} Головна {% endblock %}

{% block page_style %} <link rel="stylesheet" href="{% static 'css/index.css' %}" media="screen"> {% endblock %}

{% block body_data %} data-home-page="index.html" data-home-page-title="Головна" class="u-body u-xl-mode" data-lang="ua" {% endblock %}

{% block main %}
<!-- Section 1 starts -->
<section class="skrollable u-clearfix u-image u-parallax u-shading u-section-1" id="carousel_4164" data-image-width="6000" data-image-height="4000">
  <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
	<div class="u-align-left u-container-align-left u-container-style u-group u-palette-5-dark-3 u-radius-50 u-shape-round u-group-1">
	  <div class="u-container-layout u-valign-middle u-container-layout-1">
		<h3 class="u-align-left u-text u-text-1"> Архітектура &amp; Місто Будівництво</h3>
		<p class="u-align-left u-text u-text-2"> Архітектура міст є важливим відображенням культурного та історичного спадку кожного населеного пункту.</p>
		<a href="#" class="u-active-palette-5-dark-2 u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-palette-5-dark-2 u-radius-50 u-text-active-white u-text-hover-white u-white u-btn-1">ДЕТАЛЬНІШЕ</a>
	  </div>
	</div>
  </div>
</section>
<!-- Section 1 ends -->

<!-- Section 2 starts -->
<section class="u-clearfix u-container-align-center-md u-container-align-center-xl u-white u-section-2" id="carousel_9c7e">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
	<h2 class="u-align-center u-text u-text-default u-text-1">Наші проекти</h2>
	<p class="u-align-center u-text u-text-2"> Наші проекти випливають із відданості трансформаційній ролі ідей та їхній силі створювати нові реалії, які залучають цей світ.</p>
	<div class="u-expanded-width-lg u-expanded-width-md u-palette-1-base u-radius-50 u-shape u-shape-round u-shape-1"></div>
	<div class="u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1" id="carousel-45e9">
	  <div class="u-gallery-inner u-gallery-inner-1" role="listbox">
		<div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle u-gallery-item-1">
		  <div class="u-back-slide u-back-slide-1" data-image-width="1280" data-image-height="853">
			<img class="u-back-image u-expanded" src="{% static 'img/index-3.jpg' %}">
		  </div>
		  <div class="u-over-slide u-shading u-over-slide-1"></div>
		</div>
		<div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle u-gallery-item-2">
		  <div class="u-back-slide u-back-slide-2" data-image-width="5107" data-image-height="3405">
			<img class="u-back-image u-expanded" src="{% static 'img/index-4.jpg' %}">
		  </div>
		  <div class="u-over-slide u-shading u-over-slide-2"></div>
		</div>
		<div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle u-gallery-item-3">
		  <div class="u-back-slide u-back-slide-3" data-image-width="5500" data-image-height="3667">
			<img class="u-back-image u-expanded" src="{% static 'img/index-5.jpg' %}">
		  </div>
		  <div class="u-over-slide u-shading u-over-slide-3"></div>
		</div>
		<div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle u-gallery-item-4">
		  <div class="u-back-slide u-back-slide-4" data-image-width="3024" data-image-height="3780">
			<img class="u-back-image u-expanded" src="{% static 'img/index-6.jpg' %}">
		  </div>
		  <div class="u-over-slide u-shading u-over-slide-4"></div>
		</div>
		<div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle u-gallery-item-5">
		  <div class="u-back-slide u-back-slide-5" data-image-width="4008" data-image-height="5010">
			<img class="u-back-image u-expanded" src="{% static 'img/index-7.jpg' %}">
		  </div>
		  <div class="u-over-slide u-shading u-over-slide-5"></div>
		</div>
		<div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle u-gallery-item-6">
		  <div class="u-back-slide u-back-slide-6" data-image-width="2348" data-image-height="3522">
			<img class="u-back-image u-expanded" src="{% static 'img/index-8.jpg' %}">
		  </div>
		  <div class="u-over-slide u-shading u-over-slide-6"></div>
		</div>
		<div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle u-gallery-item-7">
		  <div class="u-back-slide u-back-slide-7" data-image-width="5184" data-image-height="3888">
			<img class="u-back-image u-expanded" src="{% static 'img/index-9.jpg' %}">
		  </div>
		  <div class="u-over-slide u-shading u-over-slide-7"></div>
		</div>
		<div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle u-gallery-item-8">
		  <div class="u-back-slide u-back-slide-8" data-image-width="3750" data-image-height="2500">
			<img class="u-back-image u-expanded" src="{% static 'img/index-10.jpg' %}">
		  </div>
		  <div class="u-over-slide u-shading u-over-slide-8"></div>
		</div>
		<div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle u-gallery-item-9">
		  <div class="u-back-slide u-back-slide-9" data-image-width="5456" data-image-height="3568">
			<img class="u-back-image u-expanded" src="{% static 'img/index-11.jpg' %}">
		  </div>
		  <div class="u-over-slide u-shading u-over-slide-9"></div>
		</div>
	  </div>
	</div>
	<a href="#" class="u-active-black u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-btn-1">Детальніше</a>
  </div>
</section>
<!-- Section 2 ends -->

<!-- Section 3 starts -->
<section class="u-align-center u-clearfix u-palette-1-base u-section-3" id="sec-9357">
  <div class="u-clearfix u-sheet u-sheet-1">
	<h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">Архітектурні стилі</h2>
	<p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"> Архітектурні стилі є визначальними характеристиками архітектурних творінь, які відображають певні епохи, культурні та історичні контексти</p>
	<div class="u-expanded-width u-list u-list-1">
	  <div class="u-repeater u-repeater-1">
		<div class="u-align-center u-border-2 u-border-grey-10 u-container-align-center-lg u-container-align-center-xl u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
		  <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
			<img class="u-expanded-width u-image u-image-1" src="{% static 'img/index-12.jpg' %}" alt="" data-image-width="4160" data-image-height="6240">
			<h5 class="u-align-center u-text u-text-3"> Класична&nbsp;<br>архітектура</h5>
		  </div>
		</div>
		<div class="u-align-center u-border-2 u-border-grey-10 u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
		  <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
			<img class="u-expanded-width u-image u-image-2" src="{% static 'img/index-13.jpg' %}" alt="" data-image-width="3064" data-image-height="4592">
			<h5 class="u-align-center u-text u-text-4"> Неокласична&nbsp;<br>архітектура</h5>
		  </div>
		</div>
		<div class="u-align-center u-border-2 u-border-grey-10 u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
		  <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
			<img class="u-expanded-width u-image u-image-3" src="{% static 'img/index-14.jpg' %}" alt="" data-image-width="2592" data-image-height="1728">
			<h5 class="u-align-center u-text u-text-5"> Італійська&nbsp;<br>архітектура</h5>
		  </div>
		</div>
		<div class="u-align-center u-border-2 u-border-grey-10 u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
		  <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
			<img class="u-expanded-width u-image u-image-4" src="{% static 'img/index-15.jpg' %}" alt="" data-image-width="6930" data-image-height="4620"><h5 class="u-align-center u-text u-text-6"> Вікторіанська архітектура</h5>
		  </div>
		</div>
		<div class="u-align-center u-border-2 u-border-grey-10 u-container-align-center u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
		  <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
			<img class="u-expanded-width u-image u-image-5" src="{% static 'img/index-16.jpg' %}" alt="" data-image-width="1500" data-image-height="1000">
			<h5 class="u-align-center u-text u-text-7"> Архітектура&nbsp;<br>ар-деко</h5>
		  </div>
		</div>
		<div class="u-align-center u-border-2 u-border-grey-10 u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
		  <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
			<img class="u-expanded-width u-image u-image-6" src="{% static 'img/index-17.jpg' %}" alt="" data-image-width="3951" data-image-height="5925">
			<h5 class="u-align-center u-text u-text-8"> Архітектура&nbsp;<br>Баугауз</h5>
		  </div>
		</div>
		<div class="u-align-center u-border-2 u-border-grey-10 u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-7" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
		  <div class="u-container-layout u-similar-container u-valign-top u-container-layout-7">
			<img class="u-expanded-width u-image u-image-7" src="{% static 'img/index-18.jpg' %}" alt="" data-image-width="6000" data-image-height="4000">
			<h5 class="u-align-center u-text u-text-9"> Сучасна&nbsp;<br>архітектура</h5>
		  </div>
		</div>
		<div class="u-align-center u-border-2 u-border-grey-10 u-container-style u-hover-feature u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-8" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
		  <div class="u-container-layout u-similar-container u-valign-top u-container-layout-8">
			<img class="u-expanded-width u-image u-image-8" src="{% static 'img/index-19.jpg' %}" alt="" data-image-width="1840" data-image-height="3264">
			<h5 class="u-align-center u-text u-text-10"> Брутальна&nbsp;<br>архітектура</h5>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</section>
<!-- Section 3 ends -->

<!-- Section 4 starts -->
<section class="u-clearfix u-section-4" id="carousel_1673">
  <div class="u-expanded-width u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
  <img src="{% static 'img/index-20.jpg' %}" class="u-align-left u-hover-feature u-image u-image-default u-radius-50 u-image-1" data-image-width="5472" data-image-height="3648">
  <div class="u-align-left u-container-align-left u-container-style u-group u-palette-5-dark-3 u-radius-50 u-shape-round u-group-1">
	<div class="u-container-layout u-valign-middle u-container-layout-1">
	  <h2 class="u-align-left u-text u-text-1"> Ми надаємо будівельні послуги&nbsp; у Львові</h2>
	  <p class="u-align-left u-text u-text-2"> Для нас важливо враховувати функціональність та зручність містської архітектури для того, щоб надати комфорт та зручність мешканцям та відвідувачам.</p>
	  <a href="#" class="u-active-palette-5-dark-2 u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-palette-5-dark-2 u-radius-50 u-text-active-white u-text-hover-white u-white u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">ДЕТАЛЬНІШЕ</a>
	</div>
  </div>
</section>
<!-- Section 4 ends -->

<!-- Section 5 starts -->
<section class="skrollable u-align-center u-clearfix u-image u-parallax u-shading u-section-5" id="carousel_b61e" data-image-width="2497" data-image-height="1766">
  <div class="u-clearfix u-sheet u-sheet-1">
	<p class="u-text u-text-1"> Перетворіть своє бачення в реальність за допомогою планування та дизайну.</p>
	<div class="u-list u-list-1">
	  <div class="u-repeater u-repeater-1">
		<div class="u-align-left u-container-style u-list-item u-palette-1-base u-radius-20 u-repeater-item u-shape-round u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1000">
		  <div class="u-container-layout u-similar-container u-container-layout-1">
			<div alt="" class="u-image u-image-circle u-image-1" data-image-width="626" data-image-height="351"></div>
			<h4 class="u-text u-text-body-color u-text-2"> Проектування-Будівництво</h4>
			<p class="u-text u-text-white u-text-3"> Комплексний підхід, що поєднує в собі проектування та будівельні роботи.</p>
		  </div>
		</div>
		<div class="u-align-left u-container-style u-list-item u-palette-1-base u-radius-20 u-repeater-item u-shape-round u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1000">
		  <div class="u-container-layout u-similar-container u-container-layout-2">
			<div alt="" class="u-image u-image-circle u-image-2" data-image-width="626" data-image-height="626"></div>
			<h4 class="u-text u-text-body-color u-text-4"> Ремоделювання</h4>
			<p class="u-text u-text-white u-text-5"> Вдосконалення та модифікації приміщень&nbsp; з метою покращення їхнього функціоналу, естетики та комфорту.</p>
		  </div>
		</div>
		<div class="u-align-left u-container-style u-list-item u-palette-1-base u-radius-20 u-repeater-item u-shape-round u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1000">
		  <div class="u-container-layout u-similar-container u-container-layout-3">
			<div alt="" class="u-image u-image-circle u-image-3" data-image-width="626" data-image-height="412"></div>
			<h4 class="u-text u-text-body-color u-text-6"> Міські простори</h4>
			<p class="u-text u-text-white u-text-7"> Концепція розвитку міських просторів, спрямована на створення гармонійного та функціонального середовища для мешканців</p>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</section>
{% endblock %}